html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/index.css")
        script(src="js/index.js" type="module")
        title Shenzhen Solitaire
    body
        svg#table
            rect(x=0 y=0 width=50 height=100 rx=5)