:root {
    touch-action: none;

    * {
        touch-action: none;
    }
}

body,
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: repeating-linear-gradient(transparent, red 40px),
        repeating-linear-gradient(0.25turn, gold, red 40px);
    overflow: hidden;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
}

g[data-color="black"] {
    text {
        fill: black;
    }
}

g[data-color="green"] {
    text {
        fill: green;
    }
}

g[data-color="red"] {
    text {
        fill: red;
    }
}

g[data-color=""] {
    text {
        fill: purple;
    }
}

#skull {
    path {
        fill-opacity: 0;
    }

    path.filled-path {
        fill-opacity: 1;
    }
}

#proverb-container,
#win-notification,
noscript {
    position: absolute;
    padding: 24px 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: gold;
    border: 3px solid red;
    user-select: none;
    text-align: center;
}

#proverb-container,
#win-notification {
    display: none;
}

#proverb-container.fade {
    animation: fade 5s ease-in 1 forwards;
}

#reset-btn {
    position: absolute;
    right: 12px;
    top: 0;
    width: 24px;
    height: 8px;
    text-align: center;
    font-size: 0.4rem;
    background: gold;
    border: 1px solid red;
    opacity: 0.7;
    cursor: pointer;
}

#table {
    height: auto;
    width: 100%;
    display: block;
    margin: 0 auto;
    background: forestgreen;
    user-select: none;
    touch-action: none;
}

.card {
    fill: white;
    stroke: dimgrey;
    stroke-width: 1;
    stroke-dasharray: 0;

    rect {
        width: 128px;
        height: 178px;
    }

    text {
        font-family: Arial, Helvetica, sans-serif;
        user-select: none;
        stroke: none;
    }

    &.frozen {
        pointer-events: none;
    }
}

.card-slot {
    fill: none;
    stroke: black;
    stroke-width: 1;
    stroke-dasharray: 2 4;
    stroke-linecap: round;

    rect {
        width: 128px;
        height: 178px;
    }

    &.consumed {
        .card.frozen {
            animation: flip-over .5s ease 1 forwards;

            text,
            g {
                animation: fade .2s ease 1 forwards;
            }
        }
    }
}

.dragon-summoning-btn {
    fill: url('#button');
    stroke: grey;
    stroke-width: 1;
    cursor: pointer;

    text {
        stroke: none;
        transform: translate(-7px, 7px);
    }

    &.clicked {
        fill: url('#button-clicked');
    }
}

@keyframes flip-over {
    0% {
        transform: scale(1, 1)translateX(0);
    }

    95% {
        fill: url('#card-backside');
    }

    100% {
        transform: scale(-1, 1)translateX(-11.5%);
        fill: url('#card-backside');
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    95%,
    100% {
        opacity: 0;
    }
}