body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    background: brown;
    overflow: hidden;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
}

#table {
    height: 100%;
    width: 100%;
    background: forestgreen;
}

.card-slot {
    rect {
        fill: none;
        stroke: black;
    }

    text {
        fill: black;
    }
}